 /* *{
     box-sizing: border-box;
 } */

 body{background-color:azure;} 
 table{
    border: 1px solid black;

}
th, td {
    border: 1px solid rgb(184, 90, 27);
  }

  header{
    width: 100%;
    height: 100px;
    background-color:skyblue;
}
nav img{
    width: 150px;
    height: 80px;
    border-radius:50%;
}
nav{
    position: relative;
    margin: 20px;
    margin-left:10px;
    padding-top: 15px;
    
}
nav p{
    position: absolute;
    top: 50px;
    left: 150px;
    color: white;
    font-family: 'Sofia', cursive;
    font-size:x-large;
}
ul li{
    display: inline-block;
    float: right;
    position: relative;
    bottom: 60px;
    margin-left:100px ;
    right: 200px;
    font-family: 'Sofia', cursive;  
    font-size:x-large;
   

}
ul a:hover{
    color:goldenrod;
}
ul li a{
text-decoration: none;
color: white;
}
main div{
    margin-left:190px ;
}

main div img{
    margin-top: 30px;
padding: 13px;  
}

#divFamily img{
    width:960px;
    height: 450px;}
 #divfish img{
     width: 300px;
     height: 300px;
 }   

main article img{
    float: left;
    display: inline-block;
    margin-left: 200px;
    padding-right: 30px;
    width: 480px;
    height: 200px;
  
}
article p{
    margin-right: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


footer{
    width: 100%;
    height: 200px;
    background-color:skyblue;
    margin-top: 30px;
}

footer .divfooter{
    width: 50%;
  float: left;
}
.divfooter a{
    text-decoration: none;
   
}
.divfooter p{
    padding-bottom: 10px;
    color: white;
}
.divfooter .afooter{
    width: 100%;
    height: 20px;
    display:inline-block;
    color: white;
  
}
footer:nth-last-child(2){
    color: white;
    font-size: large;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } 
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } 
  input[type=decimal], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } 
   
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
   
  input[type=submit]:hover {
    background-color: #45a049;
  } 
  
   #divform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

  table{
      width: 85%;
      margin-left: 200px;
      margin-top: 10px;
  }
header #asalespage{
    text-decoration: none;
    color: white;
    font-family: 'Sofia', cursive;  
    font-size:x-large;
}
